.main {
  width: 20vw;
}
p,
h1 {
  font-size: 0.6rem;
}

.side {
  width: 13vw;
}
ul,
li {
  font-size: 1rem;
  margin-left: 3rem;
}
.fab {
  margin-left: -5rem;
}
.projects {
  left: 10rem;
}
iframe {
  height: 30vh;
  width: 40vw;
}
.contact-info > p,
.contact-info > a {
  font-size: 1rem;
}
.contact {
  left: 1rem;
}
h3 {
  display: none;
}
#more-repos {
  font-size: 1rem;
}
