* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(15, 15, 15);
}
.menu {
  background-color: rgb(80, 77, 77);
  height: 10vh;
}
.side {
  height: 90vh;
  width: 6vw;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.head {
  display: flex;
  justify-content: center;
}
ul,
li {
  display: inline;
  align-self: center;
  font-size: 2rem;
}
li {
  margin-right: 7vw;
}
.side {
  display: flex;
  position: fixed;
}
.fab {
  margin-bottom: 10vh;
  margin-left: 2vw;
  transform: scale(2);
}
.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.main > h1,
.main > p {
  color: white;
  transform: scale(2);
}
